<!-- app/views/users/_info_box.html.erb -->
<div class="user-info">
  <h5><%= user.username %></h5>
  <p>Trips: <%= trips.count %></p>
  <p>Reviews: <%= user.activity_reviews.count %></p>
  <p>Level: <%= user.level %></p>
</div>
