.btn-secondary {
  background-color: #59683b !important; // your custom color
  color: #fff !important;
  border-color: #59683b !important;
  transition: background-color 400ms, transform 400ms !important;
}

.btn-secondary:hover {
  background-color: rgb(61, 67, 31) !important; // hover color
  color: #fff !important;
  border-color: rgb(61, 67, 31) !important;
  transform: translateY(-2px) !important;
}

.btn-light {
  background-color: #F2EED7 !important; // your custom color
  color: #000 !important;
  border-color: #a09e97 !important;
  transition: background-color 400ms, transform 400ms !important;
}

.btn-light:hover {
  background-color: #c3c0b2 !important; // hover color
  color: #000000 !important;
  border-color: #7d7c77 !important;
  transform: translateY(-2px) !important;
}

.btn-outline-custom {
  color: #626F47;
  border-width: 1.5px;
  border-style: solid;
  border-color: #626F47;
  background-color: white;
  font-weight: 400;
  transition: background-color 300ms, color 300ms, border-color 300ms;
}

.btn-outline-custom:hover {
  color: white;
  border-color: #798645;
  background-color: #798645;
  font-weight: 400;
}

.btn-check:checked + .btn-outline-custom,
.btn-outline-custom.active,
.btn-outline-custom:active,
.show > .btn-outline-custom.dropdown-toggle {
  color: #fff;
  background-color: #798645;
  border-color: #798645;
  font-weight: 400;
}
