.badge-friend {
  background-color: transparent !important;
  color: #626F47 !important;
  font-size: 12px !important;
  width: 180px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px !important;
  align-content: center !important;
  text-align: center !important;
  border-radius: 90px !important;
  border-style: solid !important;
  border-color: #626F47 !important;
}

.bg-green { background-color: #0b6d0b !important; color: white; }
.bg-pink { background-color: rgb(222, 98, 195) !important; color: white; }
.bg-blue { background-color: rgb(24, 103, 181) !important; color: white; }
.bg-yellow { background-color: rgb(60, 151, 98) !important; color: white }
.bg-orange { background-color: rgb(183, 98, 2) !important; color: white; }
.bg-brown { background-color: rgb(116, 64, 34) !important; color: white; }
.bg-purple { background-color: rgb(91, 25, 111) !important; color: white; }
.bg-red { background-color: rgb(168, 6, 6) !important; color: white; }
.bg-gold { background-color: rgb(207, 176, 0) !important; color: black !important; }
